:root {
  --background: #222629;
  --lightgray: #6b6e70;
  --darkgray: #474b4f;
  --green: #61892f;
  --lightgreen: #86c232;
}

@media (max-width: 768px) {
  .container_wrappable {
    flex-direction: column;
  }

  #code {
    width: auto !important;
  }

  .container_wrappable-column {
    width: auto !important;
  }
}

* {
  box-sizing: border-box;
  font-family: "Helvetica 35 Thin", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

.container_wrappable {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.container_wrappable-column {
  display: flex;
  flex-wrap: wrap;
  width: calc(50vw - 16px);
  flex-direction: column;
  justify-content: space-between;
}

#code {
  width: calc(50vw - 16px);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  padding: 16px 8px;
  border: 1px solid black;
  z-index: 2;
  width: 100%;
  background-color: var(--background);
}

h2 {
  color: var(--green);
}

.logo {
  width: 64px;
  height: 32px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav__list {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  list-style: none;
  flex-wrap: wrap;
}

.nav__list_item {
  margin-left: 16px;
}

.nav__list_item:first-child {
  margin-left: 0px;
}

.nav__list_item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

code {
  font-size: 12px !important;
}

.nav__list_item a:hover {
  color: var(--lightgreen);
  cursor: pointer;
}

.container__block {
  padding: 8px 16px;
  margin: 16px 0px;
  border: 1px solid black;
}

.container__block-markers > li {
  margin-top: 8px;
}

.container__block-markers > li > a:hover {
  color: var(--lightgreen);
}

.container__block-markers > li:first-child {
  margin-top: 0px;
}

.container__id-block {
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 8px;
}

.avatar {
  max-width: 460px;
  max-height: 460px;
}

.avatar-image {
  max-width: 100%;
  height: auto;
  width: auto;
}

.container__id-block-img {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container__id-block-about {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}

h1 {
  font-size: 3rem;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
